{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="task-form">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Create</button>
            </form>
            <button><a href="{% url 'list_projects'  %}">Back to all projects</a></button>
        </div>
    </main>
{% endblock content %}