{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks:</h1>
            <div><form action="{% url 'search_taskresults' %}" method="get">
                <input name="q" type="text" placeholder="Search by task name">
                <button>Search</button>
              </form>
            </div> 
            {% if task_list|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    
                        <tbody>
                            {% for task in task_list %}
                            <tr>
                                
                                <td>{{ task }} </td>
                                <td>{{ task.project }} </td>
                                <td>{{ task.start_date }}</td>
                                <td>{{task.due_date }} </td>
                                <td>{% if task.is_completed%}
                                    Done
                                {% else %}
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                {% endif %}
                                </td>
                               
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                        
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>

        {% comment %} <a href="{% url '' %}"><button>Create a new item for a list</button></a>  {% endcomment %}
    </main>
{% endblock content %}