{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }} </h1>
            {{ project.description|markdownify }}

            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' project.pk %}">Create a new task</a></p>
            {% if project.tasks.all|length > 0  %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                        <tr>
                            
                                <td>{{task.name}}</td>
                                <td>{{task.assignee}}</td>
                                <td>{{task.start_date}}</td>
                                <td>{{task.due_date}}</td>
                                <td>{% if task.is_completed%}
                                    yes
                                {% else %}
                                    no
                                {% endif %}
                           
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}


        </div>
        {% comment %} <a href="{% url '' %}"><button>Create a list</button></a>
        {% endcomment %}
    </main>
{% endblock content %}