{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects:</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            <div><form action="{% url 'search_results' %}" method="get">
                <input name="q" type="text" placeholder="Search by project name">
                <button>Search</button>
              </form>
            </div> 
            {% if project_list %}

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>All tasks in project complete?</th>
                        </tr>
                    </thead>
                    {% for projects in project_list %}
                        <tbody>
                            <tr>
                                <td><a href="{% url 'show_project' projects.pk %}"> {{ projects.name }}</a> </td>
                                <td>{{ projects.tasks.all|length }}</td>
                                <td>{% if projects.all_completed == True %} 
                                    Yes 
                                    {% else %}
                                    No 
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>

        {% comment %} <a href="{% url '' %}"><button>Create a new item for a list</button></a>  {% endcomment %}
    </main>
{% endblock content %}