{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Projects: Search Results</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            <ul>
                {% if object_list %}
                {% for project in object_list %}
                  <li>
                    <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                  </li>
                
                {% endfor %}
              </ul>
                <div><form action="{% url 'search_results' %}" method="get">
                  <input name="q" type="text" placeholder="Search by project name">
                  <button>Search</button>
                </form>
              </div> 
                {% else %}
                <p>No projects for your search result. Try something else?</p>
                <div><form action="{% url 'search_results' %}" method="get">
                  <input name="q" type="text" placeholder="Search by project name">
                  <button>Search</button>
                </form>
              </div> 
                {% endif %}

              
        </div>
    </main>
{% endblock content %}